<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=660">
	<title>SOMERLYAWESOMECHATROOM - You exist!</title>
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/webchat.css">
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" sizes="192x192" href="/icon/192.png">
</head>
<body id="register">
	<img src="../img/logo.png" alt="SOMERLYAWESOMECHATROOM">
	<h1>Hey, [USERNAME/], thanks for registering! Come join us in the chat sometime.</h1>
	<h2>But first, we should fill out some things in your new profile...</h2>
	<br>
	<a href="../profile/edit">Edit Profile</a><br><br>
	<a href="../chat">Go to Chat</a><br><br>
	<a href="../">Go to Home</a>
</body>
</html>
