<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=660">
	<title>SOMERLYAWESOMECHATROOM - Home</title>
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/webchat.css">
	<link rel="manifest" href="/manifest.json">
	<link rel="icon" sizes="192x192" href="/icon/192.png">
</head>
<body>
	<img src="img/logo.png" alt="SOMERLYAWESOMECHATROOM">
	<h1>Good, [USERNAME/], it looks like you've made it inside.</h1>
	<br>
	<a href="chat">Go to Chat</a><br><br>
	<a href="profile">View Profile</a><br><br>
	<a href="account">Edit Account Information</a><br><br>
	<form method="post">
		<input type="hidden" name="token" value="[TOKEN/]">
		<button type="submit" name="logout">Logout</button>
	</form>
</body>
</html>
